p {
    margin: 0;
}
h2{
    margin: 1%;
    text-align: center;
}
body {
    font-family: roboto;
    background-color: #ffffff; 
    color: #000000; /* Title text color */
    margin: 0;
    padding: 0;
}

.content {
    padding: 1% 3%;
    text-align: center;
}
.image {
    max-width: 80%;
}
.timeline-image{
    max-width: 20em;
    border-radius: 8%;
    display: block;
    margin: 0 auto;
}
/* horizontal scrolling section */
.scrolling-wrapper {
    padding-left: 0%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth ;  /*Add smooth scrolling behavior */
    height: 170%;
    
}

.scrolling-wrapper .card {
    flex: 0 0 80%;
    padding: 2% 5%;
    max-width: none;
    height: 100%;

}

/* Custom CSS to hide scrollbars in webkit browsers */
/* .scrolling-wrapper::-webkit-scrollbar {
    display: none;
} */

/* Add a border to the table and set border-collapse for lines */
table {
    border-collapse: collapse;
    width: 100%;
    height: 50%;
}
tr:nth-child(even) {
    background-color: #467599; /* Darker shade of blue for even rows */
    color: #f0f0f0; /* Light text color */
}

tr:nth-child(odd) {
    background-color: #1D3354; /* Lighter shade of blue for odd rows */
    color: #f0f0f0; /* Light text color */
}
td {
    border: 2px solid #f8c489; /* Dark blue border */
    padding: 0 2%;
    max-width: 190px; /* Set a maximum width for the cell */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px; /* Adjust the font size as needed */
}
